#window{
    width: 350px;
    height: 250px;
    margin: 150px auto;
    background: #fff;
    border: 1px solid #000;
    border-radius: 15px;
    z-index: 150;
    display: none;


    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.form{
    width: 275px;
    margin: 15px auto 20px auto;
    text-align: center;
}
.input{
    width: 260px;
    padding: 5px;
    margin-bottom: 10px;
}
.close{
    margin: 10px 0 0 320px;
    cursor: pointer;
}
.close:hover{
    background: brown;
}
#outside{
    background-color: rgba(1,1,1,0.75);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 100;
    display: none;
}
.error{
    color: red;
    margin-bottom: 5px;
    margin-top: -5px;
}
.authorization{
    margin-bottom: 10px;
}